<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leisu.tianjian.dao.AreaDao" >
    <resultMap id="BaseResultMap" type="com.leisu.tianjian.model.AreaModel" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="area" property="area" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, province, city, area
    </sql>

    <select id="getProvince" resultType="String">
        select distinct province from area where 1 = 1
    </select>

    <select id="getCity" resultType="String" parameterType="String">
        select distinct city from area where province = #{province}
    </select>

    <select id="getArea" resultType="String" parameterType="com.leisu.tianjian.model.AreaModel">
        select area from area where province = #{province} and city = #{city}
    </select>
</mapper>